/* ======== RESET ======== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url('../img/image 26.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ======== CARD ======== */
.container {
    width: 100%;
    max-width: 1150px;
}

.card {
    display: flex;
    width: 100%;
    max-height: 550px;   /* Impede crescer demais */
    min-height: 430px;   /* Mantém proporcional */
    border-radius: 18px;
    overflow: hidden;
    backdrop-filter: blur(6px);
}



/* ——— LADO ESQUERDO ——— */
.left {
    flex: 1;
    padding: 55px;
    background: rgba(0, 0, 0, 0.42);
    backdrop-filter: blur(10px);
    color: white;
}

.left h1 {
    font-size: 46px;
    line-height: 1.1;
    margin-bottom: 18px;
}

.left p {
    font-size: 15px;
    max-width: 300px;
    line-height: 1.5;
}

.left .footer {
    margin-top: 130px;
    font-size: 13px;
    opacity: 0.8;
}

/* ——— LADO DIREITO ——— */
.right {
    flex: 1.1;
    padding: 40px 55px;
    background: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(12px);
    color: white;
}


.right > p {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
}

/* ——— FORMULÁRIO ——— */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.formulario select,
.formulario input {
    width: 90%;
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background: rgba(0, 0, 0, 0.35);
    color: white;
}


.formulario select option {
    color: black;
}

.formulario label {
    font-size: 13px;
    opacity: 0.9;
    margin-top: 6px;
    margin-bottom: -6px;
}


/* ——— BOTÃO ——— */
button {
    margin-top: 20px;
    padding: 10px 0;
    width: 120px;
    font-size: 14px;
    border: none;
    border-radius: 6px;
    background: #F0C252;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}


button:hover {
    background: #d4a645;
}

/* ——— RESPONSIVO ——— */
@media (max-width: 950px) {
    .card {
        flex-direction: column;
        height: auto;
    }

    .left, .right {
        padding: 40px;
    }

    button {
        width: 100%;
    }
}
