/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #0e0e0e;
  color: #fff;
}

/* ===========================
          HOME
=========================== */

.Homeinicio {
  min-height: 100vh;
  background: 
    linear-gradient(to bottom, rgba(0,0,0,0) 60%, rgba(14,14,14,1)),
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url("../img/image 22.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 20px;
  position: relative;
}

.cabeca {
  position: absolute;
  top: 30px;
  right: 50px;
}

.cabeca a {
  color: #fff;
  margin-left: 30px;
  text-decoration: none;
}

.cabeca a:hover {
  color: #E5C060;
  transition: transform 0.3s ease;
}

.tituloprincipal {
  font-size: 3rem;
  margin-bottom: 20px;
}

.Homeinicio p {
  max-width: 600px;
  font-size: 1.1rem;
  color: #ccc;
  margin-bottom: 40px;
}

.botoes {
  display: flex;
  gap: 20px;
}

.botoes button {
  background-color: #E5C060;
  border: none;
  padding: 12px 25px;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  color: #1D3125;
  cursor: pointer;
}

button:hover {
  background-color: #da9f0b;
  color: #382801;
  transition: transform 0.3s ease, background-color 0.3s ease;
  transform: scale(1.1);
}
/* ===========================
        SOBRE NÓS
=========================== */

.sobrenos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px 10%;
  background-color: #101010;
}

.imagemsobrenos img {
  width: 380px;
  border-radius: 20px;
}

.textosobrenos {
  max-width: 700px;
}

.textosobrenos h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.textosobrenos p {
  line-height: 1.7;
  color: #ccc;
}

/* ===========================
        BENEFÍCIOS
=========================== */

.Beneficios {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  padding: 100px 10%;
  background-color: #0c0c0c;

  /* Coloca a imagem do lado direito */
  flex-direction: row-reverse;
}

.imagembene img {
  width: 380px;
  border-radius: 20px;
}

.textobene {
  max-width: 700px;
}

.textobene h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.textobene p {
  line-height: 1.7;
  color: #ccc;
}

/* ===========================
         RODAPÉ
=========================== */
footer {
  background-color: #E5C060;
  text-align: center;
  padding: 30px;
  color: #1a1a1a;
  font-weight: bold;
}