body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    background: url("../img/image\ 30.png") no-repeat center center fixed;
    background-size: cover;
}

/*Centralização*/
.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Card*/
.card {
    width: 900px;
    height: 500px;
    display: flex;
    backdrop-filter: blur(4px);
    background: rgba(0, 0, 0, 0.45);
    border-radius: 12px;
    overflow: hidden;
}

/*Lado esquerdo*/
.left {
    flex: 1;
    padding: 50px;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    opacity: 0.8;
}

input {
    height: 35px;
    background: transparent;
    border: none;
    border-bottom: 1px solid #888;
    color: white;
    outline: none;
    margin-bottom: 30px;
    padding-left: 4px;
}

input::placeholder {
    color: #cfcfcf;
}

/*Botão*/
.btn {
    width: 120px;
    padding: 10px 0;
    background: #E7B44A;
    border: none;
    border-radius: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #f0c764;
}

.titulo{
    font-size: 3em;
}

.campocodigo{
    display: flex;
    flex-direction: row;
    gap: 2em;
    padding-top: 1em;
}

.textopequeno{
    font-size: 0.7em;
    padding-bottom: 1.5em;
}

